/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}



/* Header Section Styles */
.header-container{
    display: flex;
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
}

.section-title{
    color: #FFFFFF;
    font-size: 50px;
    padding-top: 121px;
    padding-right: 102px;
    padding-bottom: 27px;
    padding-left: 156px;
    
}

.button-area{
    
    padding-top: 27px;
    padding-right: 419px;
    padding-bottom: 169px;
    padding-left: 156px;
}
button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
}

.button-area a{
    text-decoration: none;
    color:#FFFFFF;
    padding: 10px 24px;
}

.header-banner img{
    width: 556px;
    height: 438px;
    padding-top: 153px;
    padding-right: 141px;
    padding-bottom: 86px;

}

/* Players Profile Styles */

.player-container{
    padding-top: 70px;
}
.players-profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 150px;
    margin-right: 145px;
    column-gap: 30px;
    row-gap: 27px;
}
.player-content {
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
}

.player-content img{
    width: 300px;
    height: 256px;
    padding: 15px 15px 10px 15px;
}
.player-content h3{
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
    color: #0f132b;
    margin: 0;
}
.player-content p{
    padding: 15px;
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -5px;
}

/* Latest News Styles */

.news-container{
    padding-top: 70px;
}

.news-container h1{
    font-weight: 700;
    font-size: 46px;
    color: #0f132b;
    text-align: center;
}

.news{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;
}
.news-content {
    width: 500px;
    height: 300px;
    background-color: white;
    display: flex;
    box-shadow: 10px 10px 40px gray;
}

.news-details{
    display: flex;
    flex-direction: column;
}
.news-content img{
    width: 150px;
    height: 250px;
    padding: 15px 15px 10px 15px;
}
.news-content h3{
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
    color: #0f132b;
    margin: 0;
}
.news-detail p{
    padding: 15px;
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -5px;
}  

/* Video Gallery Styles */

.videos-container{
    padding: 20px;
}

.videos-container h1{
    font-weight: 700;
    font-size: 40px;
    color: #0f132b;
    text-align: center;
}

.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
} 




 /* Footer Style */

 footer{
     margin-top: 100px;
 }
 .footer-container{
    text-align: center;
    bottom: 0;  
 }

 .footer-container img{
    width:400px;
    height:60px;
    margin-bottom: 20px;
 }

 .footer-container .fab{
      padding-right: 20px;
      color: gray;
      margin-bottom: 20px;
 }

 .copyright-text{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 63px;
 }
