/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}


/* Header-Banner Styles */

.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
    height: 677px;
}
.banner-area-left{
    padding-top: 207px;
    padding-left: 116px;
    width: 75%;
}
.banner-area-left h1{
    color: white;
    font-size: 64px;
    line-height: 80px;
    padding-bottom: 27px;
    margin: 0px;   
}
.banner-area-left a{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
}
.banner-area-left i{
  padding-left: 8px;
}

.banner-area-right {
    width: 50%;
    padding: 153px 115px 86px 40px;
    transition: transform 2s ease-in-out;
}
.banner-area-right img{
  width: 556px;
  height: 438px;
}

.banner-area-right img:hover {
    width: 700px;
    height: 600px;
    transform: scale(1.1) skew(20deg);
}

/* Players Profile Styles */

.player-container{
    padding-top: 78px;
}
.players-profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
    margin-right: 145px; 
    margin-left: 150px;       
}
.player-content {
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
}

.player-content img{
    width: 300px;
    height: 256px;
    padding: 15px 15px 10px 15px;
}
.player-content h3{
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
    color: #0f132b;
    margin: 0;
}
.player-content p{
    padding: 15px;
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -5px;
}

/* Latest News Styles */

.news-container{
    padding-top: 70px;
    padding-bottom: 70px;
}

.news-container h1{
    font-weight: 700;
    font-size: 46px;
    color: #0f132b;
    text-align: center;
}

.news{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;
}
.news-content {
    width: 500px;
    height: 300px;
    background-color: white;
    display: flex;
    box-shadow: 10px 10px 40px gray;
}

.news-details{
    display: flex;
    flex-direction: column;
}
.news-content img{
    width: 150px;
    height: 250px;
    padding: 15px 15px 10px 15px;
}
.news-content h3{
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
    color: #0A0826;
    margin: 0;
}
.news-detail p{
    padding: 15px;
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -5px;
}  

/* Video Gallery Styles */

.videos-container{
    padding: 20px;
}

.videos-container h1{
    font-weight: 700;
    font-size: 40px;
    color: #0f132b;
    text-align: center;
}

.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
} 

 /* Footer Style */

 footer{
     margin-top: 100px;
 }
 .footer-container{
    text-align: center;
    bottom: 0;  
 }

 .footer-container img{
    width:400px;
    height:60px;
    margin-bottom: 20px;
 }

 .footer-container .fab{
      padding-right: 20px;
      color: gray;
      margin-bottom: 20px;
 }

 .copyright-text{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 63px;
 }


 /* -------------------------
 Media Queries Mobile Devices
-------------------------------*/
 
/* Header-Banner Section */

@media only screen and (max-width: 688px) {
    .banner-container{
        height: 690px;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-area-left{
        width: 60%;
        padding-left: 16px;
        padding-top: 112px;
        padding-right: 66px;
        margin-left: 5%; 
    }
    .banner-area-left h1{
        font-size: 30px;
        line-height: 25px;
    }
    
    .banner-area-right {
        width: 40%;
        padding-top: 50px;
        display: flex;
    }
    .banner-area-right img {
        width: 260px;
        height: 260px;
        margin: 0px -16px -50px -16px;
    }
}

/*  Players Profile Section */

@media only screen and (max-width: 688px) {
    .player-container{
        padding-top: 47px;
        margin-right: 17%;
    }
    .players-profile{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-gap:30px;
        
    }
}


/*  Latest News Section */
@media only screen and (max-width: 688px){
   .news-container{
        width: 100%;
        margin-right: 17%;
    }

   .news-container h1{
      font-size: 30px;
   }

   .news{
      grid-template-columns: repeat(1, 1fr);
      column-gap: 10px;
      row-gap: 10px;
   }
   .news-content {
     width: 400px;
     height: 570px;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
   }

   .news-content img{
     width: 300px;
     height: 400px;
     padding-right: 25%;
     padding-left: 25%;
   }
   .news-content h3{
     padding-top: 0px;
     padding-left: 25%;
     padding-right: 25%;
     font-size: 13px;
     text-align: center;
   }
   .news-detail p{
     padding-right: 25%;
     padding-left: 25%;
     font-size: 10px;
   }  
}

/* Video Gallery Section */
@media only screen and (max-width: 688px){
   .videos-container{
      width:100%;
   }

   .videos-container h1{
      text-align: left;
      margin-left: 10%;
   }

   .videos{
      grid-template-columns: repeat(1, 1fr);
      margin-right: 5%;
      margin-left: 10%;
   } 

   .video iframe{
      width:250px;
      height:315px;
   }

}

/* Footer Section */
@media only screen and (max-width: 688px){
    .footer{
        width:100%;
    }
    .footer-container img{
        width:200px;
        height:60px;
        margin-right: 5%;
     }    
}